<div class="pageTitle">Records</div>
<div class="container">
    <div class="trackRecord" *ngFor="let lapRecords of trackRecords | keyvalue">
        <div class="track">{{ lapRecords.key }} <span class="fi fi-{{getA2C(lapRecords.key)}}"></span></div>
        <div class="lapRecord" *ngFor="let record of lapRecords.value">
            <app-record-entry [config]="record.config" [timeSummary]="record.timeSummary" [authentic]="!!record.authentic"></app-record-entry>
        </div>
    </div>
</div>

<div class="pageNote">Only showing the best time for each user for every unique config-validity combination</div>