.entry
    display: flex
    flex-direction: row
    justify-content: space-between
    background-color: #808080
    color: white
    padding: 0.3rem
    margin: 0.3rem 0
    width: 100%
    
    #time
        margin: 0 0.5rem
    #position
        width: 2rem