<ng-container *ngIf="trackSummaries; else default">
    <div class="pageTitle">
        <div class="user">
            <h1>{{username}}</h1>
            <div class="recordContainer" *ngIf="numberOfRecords > 0">
                <app-icon [icon]="medalIcon"></app-icon>
                <h2>{{numberOfRecords}}x Record Holder</h2>
            </div>
        </div>
    </div>
    <ng-container *ngIf="trackSummaries.length > 0; else notimes">
        <ng-container *ngFor="let trackSummary of trackSummaries">
            <app-leaderboard [times]="trackSummary.times" [title]="trackSummary.track.shortName" [flag]="trackSummary.track.country.alpha2Code" class="trackSummary"></app-leaderboard>
        </ng-container>

        <div class="pageNote">Only showing the best time for each unique config-validity combination.</div>
    </ng-container>
</ng-container>

<ng-template #default>
    <div class="pageTitle">Unknown user</div>
</ng-template>

<ng-template #notimes>
    <div class="pageNote">No times recorded.</div>
</ng-template>