@import 'mat-override'
    
:root
    --main-green: rgb(73, 130, 1)
    --main-dark: #595959
    --main-light-grey: #c9c9c9
    --main-green-lighter: #186903c0
    --main-blue: rgb(83, 133, 214)
    --main-blue-lighter: rgb(151, 189, 250)
    --main-font: "F1 Regular", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    --main-font-bold: "F1 Bold", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    --main-font-wide: "F1 Wide", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    --main-font-black: "F1 Black", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    --time-font: "Time", "Courier", monospace
    --input-font-size: 2rem

body
    background-color: #202020
    color: white

@font-face
    font-family: "Time"
    src: "Courier", monospace

@font-face
    font-family: "F1 Black"
    src: local("F1 Black"), url(assets/fonts/Formula1-Black.ttf) format("truetype")

@font-face
    font-family: "F1 Bold"
    src: local("F1 Bold"), url(assets/fonts/Formula1-Bold.ttf) format("truetype")

@font-face
    font-family: "F1 Regular"
    src: local("F1 Regular"), url(assets/fonts/Formula1-Regular.ttf) format("truetype")

@font-face
    font-family: "F1 Wide"
    src: local("F1 Wide"), url(assets/fonts/Formula1-Wide.ttf) format("truetype")