#valid
    min-width: 2rem
    min-height: 1.2rem

#valid.invalid
    background-image: url(~src/assets/img/BlackAndWhiteFlag.png)
    background-size: contain
    background-position: center
    background-repeat: no-repeat

#username
    font-family: var(--main-font-bold)
    color: gold

.authentic 
    #username, #game
        color: deepskyblue
            